:root {
  --primary-color: #1473e6;
  --black: #000;
  --text-color: #333;
  --white: #fff;
  --white-down: rgb(245, 245, 245);
  --font-family: 'Montserrat', 'Roboto', Arial, Helvetica, sans-serif;
  --width-sidebar: 96px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

input,
button,
[tabindex] {
  border: none;
  outline: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.none-in-medium {
  @media only screen and (min-width: 740px) and (max-width: 1023px) {
    display: none;
  }
}

// fonts embedded
@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2');
}
@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2');
}
@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2');
}
@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/KFOlCnqEu92Fr1MmWUlfBBc4.woff2');
}
@font-face {
  font-family: Roboto;
  src: url('/assets/fonts/KFOmCnqEu92Fr1Mu4mxK.woff2');
}
