.heading {
  font-size: 4.2rem;
  letter-spacing: -1px;
  font-weight: 600;
  padding: 60px 0 20px;
}

.separation-line {
  margin: 0 auto 6px;
  content: '';
  width: 60px;
  border-bottom: 1.5px solid #ccc;
}
.slogan {
  font-size: 18px;
  margin-bottom: 10px;
}

.content-img {
  width: 100%;
  border-radius: 4px;
}

.link-item {
  display: grid;
  grid-template-rows: [line1] 28px [line2] 76px [line3] 30px [line4];
  align-items: center;
}

.item h3 {
  font-size: 2rem;
  font-weight: 600;
  grid-row: [line1] / [line2];
}

.item-text {
  font-size: 1.4rem;
  font-style: italic;
  grid-row: [line2] / [line3];
}

.item-label {
  font-size: 1.4rem;
  font-weight: 600;
  grid-row: [line3] / [line4];
  transition: all linear 0.2s;
  &:hover {
    color: #e36a19;
  }
}

.wrapper-sub-heading {
  background-color: #eee;
  padding: 60px 40px 52px;
  margin-top: 20px;
}

.sub-heading {
  font-size: 3.8rem;
  font-style: italic;
  line-height: 3.2rem;
  letter-spacing: -1px;
  font-size: 600;
  padding-bottom: 20px;
}

.tailor-made-section {
  max-width: 1000px;
  position: relative;
  display: flex;
  margin: 100px auto;
  align-items: center;
  height: 400px;
  @media only screen and (max-width: 739px) {
    display: none;
  }
}

.tailor-made-img {
  position: absolute;
  max-width: 600px;
  max-height: 400px;
  top: 0;
}

.tailor-made-content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
  max-width: 500px;
  min-height: 280px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: var(--white);
}
