.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  width: var(--width-sidebar);
  height: 370px;
  padding: 0 8px;
  margin-top: 8px;
  @media (max-width: 1024px) {
    display: none;
  }
}

.create-btn {
  display: flex;
  margin-bottom: 8px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--primary-color);
  transition: linear 0.1s;
  &:hover {
    cursor: pointer;
    font-size: 2.2rem;
    font-weight: 700;
  }
}
