.acc-list {
  display: flex;
  margin: 6px 8px;
  border-radius: 5px;
  &:hover {
    background-color: var(--white-down);
  }
}

.acc-img {
  margin: auto 12px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.acc-info {
  font-size: 1.4rem;
  display: flex;
  flex: 1;
  align-items: center;
}

.acc-sub-info {
  font-size: 1.2rem;
  color: var(--primary-color);
}
